{% block content %}
<html lang="en">
<head>
    <title>Login</title>
</head>
<body>
<div class="container">
    <div class="row pt-5">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="card card-body">
                <i class="text-center text-info fas fa-book open fa-2x"></i>
                <h2>Login</h2>
                <form class="horizontal-form" method="post" action="">
                    {% csrf_token%}
                    <div class="form-group">
                        <input type="text" class="form-control"placeholder="username" name="username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control"placeholder="password"name="password">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-info" style="width=100%">Login</button>
                    </div>
                    <div class="">
                        <p class="text-center">Not Registered
                            <a href="{% url 'photoapp:Register'%}" class="text-info" style="text-decoration: none">Register</a>
                        </p>
                    </div>
                </form>



            </div>
        </div>
    </div>
</div>
</body>
</html>
{% endblock %}